.homePage {
    padding-top: 64px;
}

.carouselSection {
    position: relative;
    margin-bottom: 24px;

    & > .contentWrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 20px;
    }

    .carouselTitle {
        font-size: 20px;
        font-weight: 700;
        color: var(--text-primary);

        @media (min-width: 768px) { font-size: 24px; }
    }
}